body {
    margin: 0 0 0 0;
    font-family: 'Corsa Grotesk', 'Corsa Grotesk Thin', sans-serif;
    
}
  
* {
    box-sizing: border-box;
 
    animation: fade-in 1s;
}

.homepageContainer {
    background-image: url(images/backg.webp);
    height: 100vh;
    width: 100%;
    background-color: #FFFAFA;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: grey;
}

.backButton {
    position: absolute;
    top: 5%;
    left: 5%;
    cursor: pointer;
}

.homeTitle > h1 {
    font-size: 50px;
    text-align: center;
}

.homeButtons{
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.homeButtons > div {
    font-size: 20px;
    width: 105px;
    margin: 0 auto;
    margin-top: 1rem;
    padding: 5px;
}

.greeting {
    text-align: center;
    font-size: 29px;
}

.login-group {
    font-size: 20px;
    text-align: center;
}

.password {
    padding-right: 3rem;
}

.loginButton{
    font-size: 20px;
    margin-top: 2rem;
    background: none;
    border: none;
    cursor: pointer;
}

.loginButton2 {
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
    width: 20%;
}

.listContainer2 > h1{
    text-align: center;
}

.loginButton2:hover {
    transition: .3s all;
    text-decoration: none;
    background: linear-gradient(-45deg, blue, red);
    opacity: 80%;
    color: white;
    width: 20%;
    border-radius: 0%;
  }

.navcont {
    background-color: #e1e1e1;
}

.navbar {
    cursor: pointer;
}

.formContainer {
    width: 90%;
    border: 1px solid black;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 15%;
}

#checklistitem {
    width: 100%;
    padding-bottom: 10px;
    padding-top: 15px;
    line-height: 200%;
    font-size: larger;
}

.listContainer{
    background-image: url(images/backg.webp);
    height: 100%;
    width: 100%;
    background-color: #FFFAFA;
    vertical-align: middle;
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
    flex-direction: column;
    background-color: grey;
    background-repeat: round;
}

.listContainer2{
    background-image: url(images/backg.webp);
    height: 100vh;
    width: 100%;
    max-height: 100%;
    background-color: #FFFAFA;
    vertical-align: middle;
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    background-color: grey;
    background-repeat: round;
    overflow-y: scroll;
}

.deleteButton {
    cursor: pointer;
    text-align: center;
    color: red;
    padding-left: 20px;
}

.deleteButton:hover {
    transition: .3s all;
    text-decoration: none;
    background: linear-gradient(-45deg, orange, red);
    color: white;
    width: 30%;
    height: 20%;
    padding-left: 0;
    
}

.map {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 20px 10px 20px 10px;
    border: 1px solid black;
    text-align: center;
    width: 90vw;
    max-height: inherit;
    overflow-x: auto;
}

.map >button {
    float: right;
}

a {
    color: blue;
    text-decoration: none;
    display: inline-block;
    position: relative;
    transition: .3s all;
  }
  
  a:hover {
    transition: .3s all;
    color: blue;
    text-decoration: none;
  }
  
  a::before,
  a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 3px;
    width: 100%;
    background-color: transparent;
    z-index: 1;
    display: inline-block;
    transition: .3s all;
  }
  
  a::after {
    width: 0%;
    background: linear-gradient(-45deg, blue, red);
  }
  
  a:hover::after,
  .content-div:hover .heading::after {
    width: 100%;
    transition: .3s all;
  }
  
  a.decoration-none:hover::before,
  a.decoration-none:hover::after {
    display: none;
  }
  
  .loginButton:hover {
    transition: .3s all;
    text-decoration: none;
    background: linear-gradient(-45deg, blue, red);
    opacity: 80%;
    color: white;
    width: 50%;
    border-radius: 0%;
  }

@media screen and (min-width: 700px) {
    .homeButtons > div {
        width: 8%;
    }

    .homeButtons {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    .homeButtons > div {
        margin: 30px;
    }

    .homeButtons > h3 {
        margin: 30px;
        padding-top: 0.5rem;
        width: 8%;
    }

    .homepageContainer {
        background-repeat: round;
    }

    .map{
        width: 70vw;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: larger;
    }

    .greeting {
        font-size: 35px;
    }

    .login-group {
        font-size: 25px;
    }

    .password {
        padding-right: 3.3rem;
    }

    .formContainer {
        width: 50%;
    }

    .loginButton:hover {
        transition: .3s all;
        text-decoration: none;
        background: linear-gradient(-45deg, blue, red);
        opacity: 80%;
        color: white;
        width: 30%;
        border-radius: 0%;
      }

    .deleteButton:hover {
        transition: .3s all;
        text-decoration: none;
        background: linear-gradient(-45deg, orange, red);
        opacity: 80%;
        color: white;
        width: 20%;
        border-radius: 0%;
    }
}

@media screen and (orientation: landscape) and (max-height: 380px) {
    .listContainer2 {
        height: 100%;
    }
}

@media screen and (max-width: 350px) {
    .login-group {
        font-size: 16px;
    }

    .password {
        padding-right: 2rem;
    }
}

@media screen and (max-width: 450px) {
    .map {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-bottom: 20px;
        margin-top: 20px;
        padding: 20px 10px 20px 10px;
        border: 1px solid black;
        text-align: center;
        width: 90vw;
        max-height: inherit;
        overflow-x: auto;
    }

    .deleteButton{
        padding-left: 0;
    }
}

@media screen and (max-height: 330px) {
    .homeTitle > h1 {
        font-size: 35px;
        
    }
}

.backButton:hover{
    transition: .3s all;
    text-decoration: none;
  }
  
  .backButton::before,
  .backButton::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 3px;
    width: 100%;
    background-color: transparent;
    z-index: 1;
    display: inline-block;
    transition: .3s all;
  }
  
  .backButton::after {
    width: 0%;
    background: linear-gradient(-45deg, blue, red);
  }
  
  .backButton:hover::after,
  .content-div:hover .heading::after {
    width: 100%;
    transition: .3s all;
  }
 
  .homeButtons>div:hover{
    transition: .3s all;
    text-decoration: none;
    background: linear-gradient(-45deg, blue, red);
    opacity: 80%;
    color: white;
  }

