body {
    margin: 0 0 0 0;
    font-family: 'Corsa Grotesk', 'Corsa Grotesk Thin', sans-serif;
    
}
  
* {
    box-sizing: border-box;
 
    animation: fade-in 1s;
}

.homepageContainer {
    background-image: url(images/backg.webp);
    height: 100vh;
    width: 100%;
    background-color: #FFFAFA;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: grey;
}

.backButton {
    position: absolute;
    top: 5%;
    left: 5%;
}

.homeTitle > h1 {
    font-size: 50px;
    text-align: center;
}

.homeButtons{
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.homeButtons > div {
    font-size: 20px;
    width: 105px;
    margin: 0 auto;
    margin-top: 1rem;
    padding: 5px;
}

.greeting {
    text-align: center;
    font-size: 29px;
}

.login-group {
    font-size: 20px;
    text-align: center;
}

.password {
    padding-right: 3rem;
}

.loginButton {
    font-size: 20px;
    margin-top: 2rem;
    background: none;
    border: none;
    cursor: pointer;
}

@media screen and (min-width: 700px) {
    .homeButtons > div {
        width: 8%;
    }

    .homeButtons {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    .homeButtons > div {
        margin: 30px;
    }

    .homeButtons > h3 {
        margin: 30px;
        padding-top: 0.5rem;
        width: 8%;
    }

    .homepageContainer {
        background-repeat: round;
    }

    .greeting {
        font-size: 35px;
    }

    .login-group {
        font-size: 25px;
    }

    .password {
        padding-right: 3.3rem;
    }
}

@media screen and (max-width: 350px) {
    .login-group {
        font-size: 16px;
    }

    .password {
        padding-right: 2rem;
    }
}